*{
  margin: 0;
  padding: 0;
}

.section_login{
  background-color: #4F816D;
  margin: auto;
  min-height: 400px;
  min-width: 400px;
  display: flex;
  border: silver solid 1px;
  border-radius: 5%;
}

.form_login{
  height: 80%;
  width: 80%;
  margin: auto;
}

.article_login{
  height: 100vh;
  display: flex;
}

.material-icons{
  color: rgba(238,238,238,1);
}

.materialize-input{
  color: rgba(238,238,238,1)!important;
  border-color: rgba(238,238,238,1)!important;
}

.btn{
  width: 100px;
  float: right;
  margin-top: 30px;
  right: 10px;
  background-color: #66D994;
}

.btn:hover{
  background-color: #5DD39E;
}

.input-field .prefix.active{
  color: rgba(238,238,238,1);
}

.active{
  color: rgba(238,238,238,1)!important;
}

input:focus{
  box-shadow: 0 1px 0 0 rgba(238,238,238,1)!important;
  border-bottom: 1px solid rgba(238,238,238,1)!important;
}

input{
  border-bottom: 1px solid rgba(238,238,238,1)!important;
}
body{
  overflow: hidden;
}

label{
  color: rgba(238,238,238,1);
}

.reset_password{
  cursor: pointer;
  font-size: small;
  margin-top: 20px;
  padding-left: 20px;
  color: rgba(0,0,0,.5);
  float: right;
  text-decoration: underline;
}

#email{
  margin-bottom: 30px;
}

.span_remember{
  cursor: pointer;
  font-size: small!important;
  margin-top: 20px;
  color: rgba(0,0,0,.5);
  text-decoration: underline;
}

[type="checkbox"] + span:not(.lever){
  padding-left: 25px!important;
}

.div_remember{
  padding-left: 10px;
  padding-right: 10px;
}
