.menu{
  display: flex;
  width: 100%;
  height: 100vh;
}

section{
  overflow: auto;
}

.section1{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff;
  border-right: solid 1px #4F816D;
  min-width: 200px;
}

.section2{
  flex: 4;
}

.logo{
  margin: 30px auto 40px auto ;
  width: 40%;
  height: 20%;
  min-width: 100px;
  min-height: 100px;
}

.button_menu{
  padding: 15px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  display: flex;
}

.span_button_menu{
  font-size: 18px;
  margin: auto;
}

.button_menu:hover{
  background-color: #5DD39E;
  color: rgba(238,238,238,1);
}

.button_menu_active{
  background-color: #5DD39E;
  color: rgba(238,238,238,1);
}
