@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: rgba(238,238,238,1);
  overflow: hidden
}
